body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul claro de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff; /* Mantém o fundo branco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-logo img {
    width: 100px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form label {
    margin-bottom: 5px;
    align-self: flex-start;
    color: #1e3a8a; /* Azul escuro para o texto */
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a7c6ed; /* Azul claro para borda */
    border-radius: 4px;
}

.login-form p {
    font-size: 12px;
    color: #1e3a8a; /* Azul escuro para o texto */
    margin-bottom: 20px;
    text-align: left;
}

.login-form p a {
    color: #1e40af; /* Azul mais forte para links */
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}

.login-form button {
    background-color: #1e40af; /* Azul forte para o botão */
    color: #fff; /* Texto branco */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

.login-form button:hover {
    background-color: #1e3a8a; /* Azul escuro para o botão ao passar o mouse */
}
